/* You can add global styles to this file, and also import other style files */
* {
    /* font-family: "Courier New", monospace; */
}

.font-weight-normal {
    font-weight: normal;
}

.float-left-50 {
    float: left;
    width: 50%;
}

.float-right-50 {
    float: right;
    width: 50%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pad-3em-sides {
    padding-left: .3em;
    padding-right: .3em;
}

.space-1em-left {
    margin-left: 1em;
}

.space-2em-left {
    margin-left: 2em;
}

.space-3-5em-left {
    margin-left: 3.5em;
}

.space-4-3em-left {
    margin-left: 4.3em;
}

.space-12em-left {
    margin-left: 12em;
}

input[type=button] {
    cursor: pointer;
    text-transform: lowercase;
}