/* You can add global styles to this file, and also import other style files */
* {
    /* font-family: "Courier New", monospace; */
}

.space-1em-left {
    margin-left: 1em;
}

.space-2em-left {
    margin-left: 2em;
}

.space-3-5em-left {
    margin-left: 3.5em;
}

.space-4-3em-left {
    margin-left: 4.3em;
}

.space-12em-left {
    margin-left: 12em;
}

input[type=button] {
    cursor: pointer;
    text-transform: lowercase;
}