<!-- <p>dwm-monster works!</p>
{{monsterStringified}}
{{breedStringified}} -->
<h1>{{monster.name}}</h1>
<div class="container">
    <div class="image-wrapper">
        <img src="{{monster.image}}">
    </div>
    <h3>Family</h3>
    <div class="family-container">
        <div class="icon-wrapper">
            <img src="{{familyIconPath}}">
        </div>
        &nbsp;- {{family}}
    </div>
    <h3>Description</h3>
    {{monster.note}}
    <h3>Skills</h3>
    <div>
        <table>
            <tbody>
                <tr>
                    <td *ngFor="let s of monster.skills" style="padding: 2px;">
                        <a class="button" routerLink="/dwm/skill/{{s}}">{{s}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Gender Probability</h3>
    {{genderChance}}
    <div *ngIf="monster.location">
        <h3 *ngIf="monster.location.length === 1; else locations">Location</h3>
        <ng-template #locations>
            <h3>Locations</h3>
        </ng-template>
        <div *ngFor="let l of monster.location" style="padding: 2px;">
            <div *ngIf="!(l.gate === 'Reward' || l.gate === 'any')"><a class="button"
                    routerLink="/dwm/location/{{l.gate}}">{{l.gate}}</a> - {{l.level}}</div>
            <div *ngIf="l.gate === 'Reward'">Reward from Great Tree character<br />{{l.note}}</div>
            <div *ngIf="l.gate === 'any'">Found in treasure chests<br />{{l.note}}</div>
        </div>
    </div>

    <h3>Experience Growth Rate</h3>
    <b>Max Level: {{monster.maxLevel}}</b><br />
    <xp-growth [rate]="monster.xpGrowth"></xp-growth>
    <div class="f-row center-vertical">
        <h3>Stat Growth Rate</h3>
        <input class="space-1em-left" type="button" (click)=changeDetail() value={{growthLabel}}>
    </div>
    <dwm-growth [rates]="growths" [detailEvent]="detailedSwap"></dwm-growth>
    <div *ngIf="!isXpDetail"></div>
    <div *ngIf="isXpDetail"></div>
</div>