.container {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input,
label {
    margin: 5px;
    max-width: 8em;
    inline-size: fit-content;
}