<table>
    <thead>
        <tr>
            <modal [viewModalEvent]="viewModalEvent" [xpList]="rateTable[0]" [id]="-1"></modal>
            <th class="font-weight-normal" colspan="3">
                <div class="float-left-50">XP ({{rate}})</div>
                <div class="float-right-50"><input type="button" value="view table" (click)="onViewTable(-1)">
                </div>
            </th>
        </tr>
        <tr>
            <th>lvl</th>
            <th>Growth</th>
            <th>Total XP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let l of levels; let i=index">
            <td class="text-left">lvl {{l}}</td>
            <td class="text-center pad-3em-sides">{{stringRate[i]}}</td>
            <td class="text-right">{{xpAmount[i]| number}}xp</td>
        </tr>
    </tbody>
</table>