table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 3px 5px;
}

.clickable>img {
    width: 12px;
    height: 12px;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th>.clickable:hover {
    background-color: lightslategrey;
}

.lvl-input {
    width: 3em;
}

.word-input {
    width: 8em;
}

input {
    margin: 5px;
}

label {
    font-weight: 600;
}

.f-row {
    display: flex;
}

#skillSearch {

    max-height: 20em;
}